<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{155,1},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{930,1},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{776,655},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{1,438},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,215}</string>
                <key>spriteSourceSize</key>
                <string>{152,215}</string>
                <key>textureRect</key>
                <string>{{1,874},{152,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,215}</string>
                <key>spriteSourceSize</key>
                <string>{152,215}</string>
                <key>textureRect</key>
                <string>{{155,874},{152,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{928,873},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{930,655},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{1,656},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{156,438},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{156,656},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{169,219},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{310,1},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{311,437},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1082,873},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{931,437},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1084,655},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,215}</string>
                <key>spriteSourceSize</key>
                <string>{152,215}</string>
                <key>textureRect</key>
                <string>{{309,874},{152,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,215}</string>
                <key>spriteSourceSize</key>
                <string>{152,215}</string>
                <key>textureRect</key>
                <string>{{1547,437},{152,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,215}</string>
                <key>spriteSourceSize</key>
                <string>{152,215}</string>
                <key>textureRect</key>
                <string>{{1546,1},{152,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1236,873},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{324,219},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{465,1},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{311,655},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{463,873},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{944,219},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1085,437},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1238,655},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,217}</string>
                <key>spriteSourceSize</key>
                <string>{152,217}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{466,437},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1390,873},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1084,1},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,215}</string>
                <key>spriteSourceSize</key>
                <string>{152,215}</string>
                <key>textureRect</key>
                <string>{{1559,218},{152,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1098,219},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{479,219},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{620,1},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{466,655},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{618,873},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{621,437},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{634,219},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1239,437},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1392,655},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{775,1},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1544,873},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1238,1},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1252,219},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,216}</string>
                <key>spriteSourceSize</key>
                <string>{166,216}</string>
                <key>textureRect</key>
                <string>{{1,220},{166,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,216}</string>
                <key>spriteSourceSize</key>
                <string>{151,216}</string>
                <key>textureRect</key>
                <string>{{1406,219},{151,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{621,655},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{773,873},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{776,437},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1393,437},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,216}</string>
                <key>textureRect</key>
                <string>{{789,219},{153,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1546,655},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{152,216}</string>
                <key>textureRect</key>
                <string>{{1392,1},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pockers.png</string>
            <key>size</key>
            <string>{1712,1090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb93b6eeb2f37d24cd5259e16dcbe34e:0294587e38a839ee346b3f908a043783:772a2020baa811a785055958d0f58e72$</string>
            <key>textureFileName</key>
            <string>pockers.png</string>
        </dict>
    </dict>
</plist>
